{% extends "AI_Fraud_Detection/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-8 mb-4">
    <iframe width="1240" height="591.25" src="https://app.powerbi.com/reportEmbed?reportId=55711a9e-6f40-465b-8460-e8ed9eaa4042&autoAuth=true&ctid=76a2ae5a-9f00-4f6b-95ed-5d33d77c4d61&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1jLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
</div> 
{% endblock content %}
